.main {
    background: #f7f7f7;
    border-right: 3px solid #03063724;
    width: 25%;
    height: 100%;
    padding: 20px;
}
.new_chat {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 6px;
    background: #030637;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
    color: #f7f7f7;
    text-align: center;
}
.chat_items {
}
.chat_item {
    padding: 14px 20px;
    border-radius: 6px;
    background-color: #fff;
    border: 2px solid #030637;
    color: #030637;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.chat_item:hover {
    background-color: #0306371b;
    transform: translateY(-5px);
}
.name {
    font-size: 18px;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}
.edit {
    font-size: 15px;
    font-weight: 500;
}
