.main {
    background: #f7f7f7;
    border-bottom: 3px solid #03063724;
    padding: 15px 0;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    color: #030637;
}
.logo {
    font-size: 25px;
    font-weight: 900;
}
.label {
    /* background-color: rgb(96, 140, 96);
    color: #007104; */
    background-color: rgb(175, 126, 126);
    color: #9d0000;
    padding: 5px 15px;
    border-radius: 5px;
}
.profile {
    display: flex;
    align-items: center;
}
.avatar {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #030637;
    color: #f7f7f7;
    border-radius: 50%;
}
.name {
    font-size: 18px;
    font-weight: 500;
}
